.loginBackground{
    background:url(../../assets/gambar/loginPage.png) no-repeat;
    background-size: cover;
}

.content{
    margin-top: 10rem;
}

.darken {
    box-shadow: inset 2000px 0 0 0 rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 1);
}

.white{
    color: white;
}

/* dashboard */
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: rgba(255, 255, 255, 0.9);
}

/* bantuan aboutus */
.navbar-light .navbar-nav .nav-link {
    color: rgba(255, 255, 255, 0.9);
}

.navbar-light .navbar-brand {
    color: rgba(255, 255, 255, 0.9);
}
.card-header{
    color: white;
}